<html>
<head>
	<link href="popup-style.css" rel="stylesheet" type="text/css" >
</head>
<body>
<div id="__css_viewer_popupbox__" >
<% for(var i = rules.length - 1; i >= 0; i--){ %>
	<div class="__css_viewer_header"><%=rules[i].selector %></div>
	<div class="__css_viewer_content">
		<% 
			var styles = rules[i].style;
			var style;
			for(var s in styles){ 
				var style = styles[s];
		%>
		<div class="__css_viewer_item <%=style.isOverride ? "__css_viewer_item_override" : "" %>">
			<div class="__css_viewer_key"><%=s %></div><span class="__css_viewer_sign">: </span>
			<div class="__css_viewer_value"><%=style.value %></div><span class="__css_viewer_sign">;</span>
		</div>
		<% } %>
	</div>
<% } %>
</div>