<html>
<head>
	<link href="popup-style.css" rel="stylesheet" type="text/css" >
</head>
<body>
<div id="__css_viewer_popupbox__" >
	<div class="__css_viewer_header">#body</div>
	<div class="__css_viewer_content">
		<div class="__css_viewer_item">
			<div class="__css_viewer_key">background: </div>
			<div class="__css_viewer_value">yellow</div>
		</div>
		<div class="__css_viewer_item">
			<div class="__css_viewer_key">background: </div>
			<div class="__css_viewer_value">yellow</div>
		</div>
		<div class="__css_viewer_item">
			<div class="__css_viewer_key">background: </div>
			<div class="__css_viewer_value">yellow</div>
		</div>
		
	</div>
	
<% for(var i in rules){ %>
	<div class="__css_viewer_header"><%=i %></div>
	<div class="__css_viewer_content">
		<% 
			var styles = rules[i].split(';');
			var param, index;
			for(var s in styles){ 
				param = styles[s].trim();
				if(!param){
					continue;
				}
				index = param.indexOf(':');
		%>
		<div class="__css_viewer_item">
			<div class="__css_viewer_key"><%=param.substring(0, index) %></div>
			<div class="__css_viewer_value"><%=param.substring(index) %></div>
		</div>
		<% } %>
	</div>
<% } %>
</div>